.log-btn {
    margin: 6px 8px;
    padding: 0px 10px;
}
/* #brand::after{
    content: "App";
    position: absolute;
    top: 24px;
    left: 0;
}

 */
 
 @media (max-width :765px ) {
    #form{
     margin-left: 0px;
    }
}
@media (min-width : 992px){
    #form{
        margin-left: 85px;
     }
}
