
<mat-dialog-content class="mt-1">
  <mat-card class="login-card text-light">
    <section>
      <button mat-icon-button matDialogClose style="float: right; margin: 5px;">
        <mat-icon>close</mat-icon>
      </button>
      <header class="text-center">
        <h1 style="font:bold;">Login </h1>
        <h4 style="line-height: 8px;">Please enter your email and password</h4>
      </header>
      <div class="container" >
        <!-- <div class="row d-flex align-items-center justify-content-center "> -->
          <div class="row">
          <!-- <div class="col-md-4 col-lg-5 col-xl-4"> -->
            <div class="col-5 " style="max-height: 200px;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image" style="height: 100%;" >
          </div>
          <!-- <div class="col-md-4 col-lg-5 col-xl-5 offset-xl-1"> -->
            <div class="col-6">
            <form (ngSubmit)="onSubmit(userLogin)" #userLogin="ngForm">
              <!-- Email input -->
              <!-- <div class="form-outline mb-4">
                  <input type="email" id="form1Example13" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example13">Email address</label>
                </div> -->

              <mat-form-field class="example-form" appereance="fill" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel"
                  required />
                  <mat-error *ngIf="email.errors?.['required']">
                    Proper email required...       
                    </mat-error>
              </mat-form-field>

              <!-- Password input -->
              <!-- <div class="form-outline mb-4">
                  <input type="password" id="form1Example23" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example23">Password</label>
                </div> -->
              <mat-form-field class="example-form" appereance="fill" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" id="password" [(ngModel)]="user.password"
                  #password='ngModel' required />
        
                  <mat-error *ngIf="password.errors?.['required']">
                    password required
                  </mat-error>
          
              </mat-form-field>
          
              <!-- <div class="d-flex justify-content-around align-items-center mb-4">
                  Checkbox
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                  </div>
                  <a href="#!">Forgot password?</a>
                </div> -->

              <!-- Submit button -->
              <div class="m-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-sm">Login</button>
              </div>
           
              <!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                  role="button" (click)="openSignup()">
                  <i class="fab fa-facebook-f me-2"></i>New User..? Register here
                </a> -->
            </form>
          </div>
          <div class="row">
            <div class="col divider d-flex justify-content-center my-1">
              <p class="text-center fw-bold mx-1 mb-0 ">Dont have an account?</p>
              <button type="button" (click)="openSignup()" class="btn btn-primary btn-lg btn-block btn-sm">SignUp</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>
  </mat-card>
</mat-dialog-content>


